<ifModule mod_rewrite.c>
	#Activa rewrite
	RewriteEngine on
	ErrorDocument 404 http://masterphp.local/tienda/error/index

	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{SCRIPT_FILENAME} !-f

	RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2
</ifModule>



